.row-fluid{:id => "user_#{user.id}"}
  .span2
    = user_avatar(user)
  .span10
    .row-fluid
      .span10= user.full_name
      .span2
        = render :partial => 'match_block', locals: { :user => user }
